<br>
<br>
<div class="container">
    <h2>{{Event}}</h2>
    <br>
    <p>{{textEvent}}</p>
    <button (click)="cambiarTexto">Boton</button>

    <br>
    <hr>
    <br>


    <h2>{{Propet}}</h2>
    <p>Ejemplo 1: imagenes</p>
    <img [src]="imagen" width="100">
    <br>
    <br>
    <br>
    <br>
    <p>Ejemplo 2:</p>
    <input type="text" [placeholder]="Propet">
    <br>
    <p>ejemplo de Lucas</p>
    Nombre del Alumno: <input type="text" [placeholder]="Propet2">
    
    <br>
    <hr>
    <br>

    <h1>{{ titulo }}</h1>
    <br>
    <p>{{ desc }}</p>
    <br>

    <ul><b>Alumno:</b> {{Alumno}}</ul>
    <ul><b>Profesor:</b> {{Profesor}}</ul>
    <ul><b>Material:</b> {{ getMaterial() }}</ul>

    <br>
    <hr>
    <br>

    
    
</div>
